web/save/test_showpow.json
[{"id":"64ecd065.62e8a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e7829787.11fde8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ed68d710.87b6f8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"71221e05.b8664","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"fbde2665.e26a18","type":"graphql-server","z":"","endpoint":"https://developer.deutschebahn.com/free1bahnql/graphql","token":"","name":"Deutsche Bahn"},{"id":"4004ca61.575a14","type":"twitter-credentials","z":"","screen_name":""},{"id":"b236dd3d.25db5","type":"inject","z":"64ecd065.62e8a","name":"60 mins","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"x":104.5,"y":92,"wires":[["81611922.cc5f68"]]},{"id":"149ee59b.df226a","type":"debug","z":"64ecd065.62e8a","name":"","active":true,"console":"false","complete":"false","x":810.5,"y":89,"wires":[]},{"id":"3aa84960.a2c3f6","type":"graphql","z":"64ecd065.62e8a","name":"Station Details","graphql":"fbde2665.e26a18","format":"handlebars","syntax":"mustache","template":"{\n   stationWithStationNumber(stationNumber: {{payload}}) {\n    name\n    mailingAddress {\n      street\n      city\n      zipcode\n    }\n    federalState\n    location {\n      latitude\n      longitude\n    }\n    szentrale {\n      name\n      email\n      number\n      phoneNumber\n    }\n    hasParking\n    timetable {\n      nextDepatures {\n        type\n        trainNumber\n        platform\n        time\n        stops\n      }\n    }\n    hasWiFi\n    hasParking\n  }\n}","x":458,"y":91,"wires":[["2fd3f3ce.9e20dc","a3ebc37b.02985"],["38712f8a.408ef"]]},{"id":"2fd3f3ce.9e20dc","type":"template","z":"64ecd065.62e8a","name":"Station Details","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Station Details - {{payload.stationWithStationNumber.name}}\n  {{payload.stationWithStationNumber.mailingAddress.street}}\n  {{payload.stationWithStationNumber.mailingAddress.city}}\n  {{payload.stationWithStationNumber.federalState}}\nCentral Station:\n  {{payload.stationWithStationNumber.szentrale.name}}\nNext Depature:\n  {{payload.stationWithStationNumber.timetable.nextDepatures.0.type}} {{payload.stationWithStationNumber.timetable.nextDepatures.0.trainNumber}}\n  {{payload.stationWithStationNumber.timetable.nextDepatures.0.time}}\nStops:\n  {{payload.stationWithStationNumber.timetable.nextDepatures.0.stops.0}}\n  {{payload.stationWithStationNumber.timetable.nextDepatures.0.stops.1}}\n  {{payload.stationWithStationNumber.timetable.nextDepatures.0.stops.2}}\n  {{payload.stationWithStationNumber.timetable.nextDepatures.0.stops.3}}","x":641,"y":155,"wires":[["149ee59b.df226a"]]},{"id":"81611922.cc5f68","type":"template","z":"64ecd065.62e8a","name":"Berlin Ostbahnhof","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"530","x":280,"y":158,"wires":[["3aa84960.a2c3f6"]]},{"id":"a3ebc37b.02985","type":"debug","z":"64ecd065.62e8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":240,"wires":[]},{"id":"38712f8a.408ef","type":"debug","z":"64ecd065.62e8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":340,"wires":[]},{"id":"d013c1c3.e4218","type":"http in","z":"e7829787.11fde8","name":"article","url":"/article/:id","method":"get","upload":false,"swaggerDoc":"","x":90,"y":140,"wires":[["a66b630f.bcbb4","593d9b.16219264"]]},{"id":"8a2c72ed.f4712","type":"http response","z":"e7829787.11fde8","name":"article-response","statusCode":"200","headers":{},"x":500,"y":500,"wires":[]},{"id":"a66b630f.bcbb4","type":"function","z":"e7829787.11fde8","name":"get article","func":"if (msg.req.params.id == 1) {\n    msg.payload = {\n        \"data\" : {\n            \"id\" : 1,\n            \"title\": \"this is article 1\",\n            \"description\": \"hello from api\"\n        }\n    }\n} else {\n    msg.payload = {\n        \"data\": null\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":280,"wires":[["aaecb41.4dc4148"]]},{"id":"aaecb41.4dc4148","type":"switch","z":"e7829787.11fde8","name":"","property":"payload.data","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":360,"wires":[["81704688.8c39f8"],["843de9f8.13b448"]]},{"id":"843de9f8.13b448","type":"http response","z":"e7829787.11fde8","name":"404-response","statusCode":"404","headers":{},"x":360,"y":380,"wires":[]},{"id":"593d9b.16219264","type":"debug","z":"e7829787.11fde8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":300,"y":240,"wires":[]},{"id":"81704688.8c39f8","type":"delay","z":"e7829787.11fde8","name":"delay 3","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":500,"wires":[["8a2c72ed.f4712"]]},{"id":"c5b12ca3.58b7d","type":"inject","z":"e7829787.11fde8","name":"","topic":"","payload":"hello","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":60,"wires":[["c6607704.844378","70ec43af.fc1a4c"]]},{"id":"70ec43af.fc1a4c","type":"debug","z":"e7829787.11fde8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":60,"wires":[]},{"id":"c6607704.844378","type":"function","z":"e7829787.11fde8","name":"","func":"global.set('hello', 1)\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":120,"wires":[["70ec43af.fc1a4c"]]},{"id":"13b7bd10.2b4073","type":"sentiment","z":"e7829787.11fde8","name":"","property":"payload","x":640,"y":300,"wires":[["422132d2.450c4c"]]},{"id":"c950f41f.7b9c38","type":"inject","z":"e7829787.11fde8","name":"","topic":"","payload":"It is possible to embed Node-RED into a larger application. A typical scenario would be where you use Node-RED to generate flows of data that you want to display on a web dashboard - all from the same application.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":300,"wires":[["13b7bd10.2b4073"]]},{"id":"422132d2.450c4c","type":"debug","z":"e7829787.11fde8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":800,"y":320,"wires":[]},{"id":"2a15601.af0b6a","type":"http request","z":"e7829787.11fde8","name":"","method":"GET","ret":"txt","url":"http://localhost:8000/api/article/1","tls":"","x":270,"y":600,"wires":[["4263fae3.120db4"]]},{"id":"b951bcc9.70cbd","type":"inject","z":"e7829787.11fde8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":600,"wires":[["2a15601.af0b6a"]]},{"id":"4263fae3.120db4","type":"debug","z":"e7829787.11fde8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":600,"wires":[]},{"id":"472a07d6.65fdd8","type":"twitter in","z":"e7829787.11fde8","twitter":"4004ca61.575a14","tags":"นิยาย","user":"false","name":"","inputs":0,"x":160,"y":720,"wires":[["73ebc05.777fb4"]]},{"id":"73ebc05.777fb4","type":"debug","z":"e7829787.11fde8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":380,"y":740,"wires":[]},{"id":"424ef28c.fc858c","type":"http in","z":"ed68d710.87b6f8","name":"GET /article","url":"article/:id","method":"get","upload":false,"swaggerDoc":"","x":140,"y":180,"wires":[["ff50eb03.ad93a8"]]},{"id":"ff50eb03.ad93a8","type":"function","z":"ed68d710.87b6f8","name":"getArticle","func":"\n\nif(msg.req.param.id == 1) {\n    msg.payload = {\n        'id': 1,\n        'titile': 'article id 1',\n        'description': 'this is about article id number 1.'\n    }\n} else {\n    msg.payload = null\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":300,"wires":[["26b606cf.7dc5ba"]]},{"id":"26b606cf.7dc5ba","type":"http response","z":"ed68d710.87b6f8","name":"response /article/:id","statusCode":"200","headers":{},"x":190,"y":420,"wires":[]},{"id":"a19ca131.5c5e4","type":"http in","z":"71221e05.b8664","name":"create article input","url":"/article/:id","method":"put","upload":false,"swaggerDoc":"","x":150,"y":120,"wires":[["54620db.203d8f4"]]},{"id":"b7f864c1.78d128","type":"debug","z":"71221e05.b8664","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":120,"wires":[]},{"id":"54620db.203d8f4","type":"function","z":"71221e05.b8664","name":"func createArticle","func":"var title = msg.payload.title || false\nvar desc = msg.payload.description || false\nvar id = msg.req.params.id\n\nvar articleStore = flow.get('article') || false\nif (articleStore === false) {\n    articleStore = {}\n}\n\n\n\n\nvar res = {\n    error: false,\n    msg: 'none'\n}\n\n\n\nif (title === false) {\n    res.error = true\n    res.msg = 'title is required'\n} else if (desc === false) {\n    res.error = true\n    res.msg = 'description is required'\n} else if (articleStore[id]) {\n    res.error = true\n    res.msg = 'article id ' + id + ' already exists.'\n}\n\n\nif (res.error) {\n    msg.payload = res\n    return msg\n}\n\n\n\narticleStore[id] = {\n    id: id,\n    title: title,\n    description: desc,\n    createdAt: (new Date()).getTime()\n}\n\nflow.set('article', articleStore)\n\nres.error = false,\nres.msg = articleStore[id]\nmsg.payload = res\n\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":240,"wires":[["8dbf6292.e24bb","b7f864c1.78d128"]]},{"id":"8dbf6292.e24bb","type":"http response","z":"71221e05.b8664","name":"create article response","statusCode":"200","headers":{},"x":170,"y":360,"wires":[]},{"id":"37ccf09e.8ecdf","type":"http in","z":"71221e05.b8664","name":"list article","url":"/articles","method":"get","upload":false,"swaggerDoc":"","x":130,"y":540,"wires":[["4c3581e6.1d4e6"]]},{"id":"4c3581e6.1d4e6","type":"function","z":"71221e05.b8664","name":"read articles","func":"var articles = flow.get('article') || {}\nmsg.payload = Object.values(articles)\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":540,"wires":[["38ffe795.56cd78"]]},{"id":"38ffe795.56cd78","type":"http response","z":"71221e05.b8664","name":"","statusCode":"","headers":{},"x":480,"y":540,"wires":[]},{"id":"2204b253.26908e","type":"http in","z":"71221e05.b8664","name":"HTTP file upload","url":"upload","method":"post","upload":true,"swaggerDoc":"","x":140,"y":680,"wires":[["f091d777.af33f8","305cfc3a.e55334"]]},{"id":"f091d777.af33f8","type":"http response","z":"71221e05.b8664","name":"","statusCode":"200","headers":{},"x":420,"y":680,"wires":[]},{"id":"305cfc3a.e55334","type":"debug","z":"71221e05.b8664","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":340,"y":620,"wires":[]}]